@import '../../styles/shared.scss';

.Tag {
  display: inline-block;
  // border: 1px solid color(green, lighter);
  border: 1px solid color(teal, darkest);
  // color: color(blue);
  color: color(teal, darkest);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;

  // font-size: .9rem;
  font-size: 1rem;
  font-weight: 100;


  &:focus,
  &:active,
  &:hover {
    background-color: color(teal, darkest);
    border-color: color(teal, darkest);
    color: color(teal);
  }
}
