@import '../../styles/shared.scss';

.button {
  background: transparent;
  // border: 1px solid color(blue);
  border: 1px solid color(teal);
  border-radius: 5px;
  padding: .5rem;
  cursor: pointer;
  outline: none;

  // color: color(blue);
  color: color(teal);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: .1rem;
  text-align: center;
}

.btn-spacing {
  width: 100%;
}
