@import '../../styles/shared.scss';

.button {
  padding: .5rem;

  border: 1px solid color(blue);
  color: color(blue);
  background: transparent;
  border-radius: 5px;

  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: .1rem;
  text-align: center;
}