@import '../../styles/shared.scss';

article {
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
}

.card-link {
  text-decoration: none;
}

.card-personal {
  margin-top: .4rem;
  line-height: 1.2;
  color: color(blue);

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.excerpt {
  font-size: .8rem;
  font-weight: 300;
  color: color(dark);
}

.card-details {
  white-space: nowrap;

  > * {
    margin-right: .4rem;
  }
}

.card-dot {
  font-size: 1rem;
  color: color(green, lighter);
}

.tag-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin-left: -5px;
}

@media (min-width: 576px) {
  .card-personal {
    flex-direction: row;
  }

  .tag-container {
      justify-content: flex-end;
  }
}
