@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import '../../styles/shared.scss';

.social-media-icon {
  cursor: pointer;

  &.fa {
    font-size: 1.3rem;
  }

  &:hover {
    color: color(teal, darkest)!important;
  }
}

.fa {
  color: color(teal);
}
