@import '../../layouts/index.scss';
@import '../../styles/shared.scss';

.divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid color(green);
  margin: 1.3rem 0;
  padding: 0;
}
