@import url(https://fonts.googleapis.com/css?family=Expletus+Sans);
@import '../../styles/shared.scss';

.heading {
  margin: 0;
  font-family: 'Expletus Sans', cursive;
  // color: color(green, dark);
  color: color(black, light);
  // letter-spacing: .3rem;
  letter-spacing: .1rem;
}

.headingLarge {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.4rem;
}

.headingMedium {
  font-size: 1.8rem;
  font-weight: 550;
  line-height: 2.6rem;
}

.headingSmall {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.3rem;
}

.headingExtraSmall {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7rem;
}

.nav-header {
  // color: color(blue);
  color: color(teal, lighter);
}

.spacing-header {
  padding: 1.2rem 0 1.7rem 0;
}

.spacing-top-header {
  padding: 1.2rem 0 0 0;
}

.spacing-bottom-header {
  padding: 0 0 1.2rem 0;
}

.spacing-none {
  padding: 0;
}

.headingMobile {
  display: block;
}

.headingWeb {
  display: none;
}

@media (min-width: 768px) {
  .headingWeb {
    display: block;
  }

  .headingMobile {
    display: none;
  }
}
