@import '../../layouts/index.scss';
@import '../../styles/shared.scss';

.comments-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3rem;
  @include text-styles;
}

.name-input {
  flex: 2;
  padding: 10px 15px;
  @include text-styles;
  color: color(dark);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.submit-btn {
  flex:1;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1.3rem;
}

.comment-section,
.name-input {
  background: transparent;
  // border: 1px color(blue) solid;
  border: 1px color(dark) solid;
  border-bottom: none;

  &:active,
  &:focus,
  &:hover {
    outline: none;
  }
}

.comment-section {
  // border-bottom: 1px color(blue) solid;
  border-bottom: 1px color(dark) solid;
}

.btn-submitt {
  width: 100%;
  // background: color(green, light);
  background: transparent;
  padding: .5rem;
  @include text-styles;
  color: color(dark);
  // border: 1px solid color(blue);
  border: 1px solid color(teal, darker);
  // color: color(blue);
  color: color(teal, darker);
  border-radius: 5px;
  cursor: pointer;
}

.btn-submitt:hover,
.btn-submitt:focus {
  // background-color: color(green, dark);
  background-color: color(teal, darkest);
  border-color: color(teal, darkest);
  // color: color(green, lighter);
  color: color(teal);
}

.comment-section {
  padding: 15px;
  resize: none;
  @include text-styles;
  color: color(dark);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.measure-textarea {
  visibility: hidden;
  position: absolute;
  width: 100%;
}

.measure-div {
  @include text-styles;
  width: 100%;
  padding: .5rem;
  word-break: break-all;
  color: color(dark);
}
