@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import '../../styles/shared.scss';

.link {
  text-decoration: none;
  color: inherit;

  &:active,
  &:visited {
    color: inherit;
  }

  &:hover {
    // color: color(green, darker)
    color: color(teal, darkest)!important;
  }
}
